/* 채팅방 부분. */
.main-chatroom {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  overflow-y: scroll;
}
.main-chatroom>div:first-child {
  margin-bottom: 71px;
}
.main-chatroom>div:last-child {
  padding-top: 58px;
}
.main-chatroom .chatroom-mychat {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}
.main-chatroom .chatroom-mychat .mychat-img {
  width: calc(61.53vw);
  margin: 0 16px 0 6px;    
}
.main-chatroom .chatroom-time {
  font-size: 10px;
  color: #767676;
}
.main-chatroom .chatroom-mychat .mychat-txt {
  font-size: 14px;
  padding: 12px;
  max-width: calc(62.05vw);
  color: #fff;
  background-color: #24732f;
  margin: 0 16px 0 6px;    
  border-radius: 10px;
  border-top-right-radius: 0px;
}
.main-chatroom .chatroom-chatwrap {
  display: flex;
}
.main-chatroom .chatroom-chatwrap .chatroom-userimg {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}
.main-chatroom .chatroom-chatwrap .chatroom-txttime {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.main-chatroom .chatroom-chatwrap .chatroom-txttime .txttime-chattxt {
  font-size: 14px;
  max-width: calc(62.05vw);
  background-color: #fff;
  border: 1px solid #c4c4c4;
  margin: 0 6px 0 12px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 12px;
  line-height: 17.53px;
}

/* 하단 채팅 입력부분 */
.sec-writechat form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* modal */
.sec-modal {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
  animation: slide 0.4s; 
}
.sec-modal .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
  border-radius: 5px;
}
.sec-modal .modal-txt {
  font-size: 14px;
  margin: 14px 0 14px 26px;
  cursor: pointer;
}
.modal-out-container {
  background: rgba(0,0,0,.2);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes slide {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}