.main-home{
  height: 100%;
}

/* main feed have*/
.main-home .main-feed-have {
  padding: 0 16px;
}
.main-feed-have .sec-upload {
  padding: 68px 0 90px;
}
.main-feed-have .sec-upload li {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.main-feed-have .sec-upload li .upload-user {
  display: flex;
  align-items: center;
}
.main-feed-have .sec-upload li .post-btn-more {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  right: 0;
}
.main-feed-have .sec-upload li .post-btn-more .post-btn-setting {
  width: 100%;
}
.main-feed-have .sec-upload li .upload-user .upload-userimg {
  max-width: 42px;
  max-height: 42px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-feed-have .sec-upload li .upload-user .upload-user-txt {
  margin: 4px 0 16px 54px;
}
.main-feed-have .upload-user .upload-user-txt .upload-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.main-feed-have .upload-user .upload-user-txt .upload-userId {
  font-size: 12px;
  color: #767676;
}
.main-feed-have .sec-upload li .upload-desc {
  width: 304px;
  margin-left: 54px;
  font-size: 14px;
}
.main-feed-have .sec-upload li .img-carousel{
  width: 304px;
  height: 228px;
  position: relative;
  margin: 16px 0 14.5px 54px;
  overflow: hidden;
}
.main-feed-have .sec-upload li .img-carousel .img-container {
  width: 912px;
  display: flex;
  transition: transform 0.5s;
}
.main-feed-have .sec-upload li .img-carousel .img-container .upload-imgBox {
  width: 304px;
}
.main-feed-have .sec-upload li .img-carousel .img-container .upload-imgBox img {
  border-radius: 10px;
  border: 0.5px solid #dbdbdb;
  height: 228px;
  object-fit: center/cover;
}
.main-feed-have .sec-upload li .img-carousel .img-btn {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 46%;
}
.main-feed-have .sec-upload li .img-carousel .img-btn .one-btn, 
.main-feed-have .sec-upload li .img-carousel .img-btn .two-btn, 
.main-feed-have .sec-upload li .img-carousel .img-btn .three-btn {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-feed-have .sec-upload li .img-carousel .img-btn .one-btn.current, 
.main-feed-have .sec-upload li .img-carousel .img-btn .two-btn.current,
.main-feed-have .sec-upload li .img-carousel .img-btn .three-btn.current {
  background-color: #24732f;
}
.main-feed-have .sec-upload li .img-carousel .img-btn .two-btn {
  margin: 0 4px;
}
.main-feed-have .sec-upload li .post-cont-space {
  margin: 16px 0 16px 54px;
  border-radius: 10px;
}

.main-feed-have .sec-upload li .upload-imgBox .upload-img {
  width: 100%;
}
.main-feed-have .sec-upload li .upload-icon {
  margin: 14px 0 18px 54px;
  display: flex;
  align-items: center;
}
.main-feed-have .sec-upload li .upload-icon button,
.main-feed-have .sec-upload li .upload-icon a{
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
.main-feed-have .sec-upload li .upload-icon img {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}
.main-feed-have .sec-upload li .upload-icon .icon-txt {
  margin-right: 18px;
  font-size: 12px;
  color: #767676;
}
.main-feed-have .sec-upload li .upload-data {
  font-size: 10px;
  margin-left: 54px;
  color: #767676;
}

/* main feed-have  */
.main-home .main-feed-none .cont-flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-home .main-feed-none .cont-flex .home-img {
  height: 89px;
  width: 74px;
}
.main-home .main-feed-none .cont-flex .home-tit {
  margin: 25px 0 20px;
  font-size: 14px;
  color: #767676;
}
.main-home .main-feed-none .cont-flex .home-btn{
  height: 44px;
  padding: 0 33px;
  font-size: 14px;
  line-height: 18px;
  background-color: #24732f;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box;
}