.cont-imgSlide{
    position: relative;
    width: 77.94vw;
    /* height: 228px; */
    overflow: hidden;
    margin: 0;
    border-radius: 10px;
    margin: 16px 0 16px 54px;
}
.cont-imgSlide .imgSlide{
    width: 233.84vw;
    /* height: 228px; */
    display: flex;
}
.cont-imgSlide .imgSlide.twoImg{
    width: 155.98vw;
}
.cont-imgSlide .imgSlide img{
    display: block;
    /* height: 228px; */
    width: 77.94vw;
    object-fit: center/cover;
}
.cont-imgSlide .dot-list{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.imgOne{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 77.94vw;
    /* height: 228px; */
}
.imgOne img{
    /* height: 228px; */
    width: 77.94vw;
    object-fit: center/cover;
}
.cont-imgSlide .dot-list span{
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(133, 133, 133);
    margin: 0 3px;
}
.dot-list span.point{
    background-color: green;
}
.dot-one{
    transform: translateX(0);
}
.dot-two{
    transform: translateX(-77.94vw);
}
.dot-three{
    transform: translateX(-155.89vw);
}
