/* main join email */
.main-join-email {
  width: 100%;
  margin: 0 auto;
  padding: 30px 34px 0;
  box-sizing: border-box;
}
.main-join-email .join-email-tit {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.main-join-email .join-email-field {
  margin-top: 40px;
}
.main-join-email .join-email-field .label,
.main-join-email .join-email-field .inp {
  display: block;
}
.main-join-email .join-email-field .label {
  font-size: 12px;
  color: #767676;
  font-weight: 500;
  margin-bottom: 17px;
}
.main-join-email .join-email-field .inp {
  width: 100%;
  padding-bottom: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dbdbdb;
  font-size: 14px;
  color: #000;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  box-sizing: border-box;
}
.main-join-email .join-email-field .inp::placeholder {
  color: #dbdbdb;
}
.main-join-email .join-email-field .email-inp {
  margin-bottom: 26px;
}
.main-join-email .join-email-field .inp:focus {
  border-bottom: 1px solid #24732f;
}
.main-join-email .join-email-field .btn-L {
  height: 44px;
  width: 100%;
  margin: 30px 0 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: #24732f;
  color: #fff;
  border: none;
  border-radius: 44px;
  letter-spacing: -1px;
  cursor: pointer;
}
.main-join-email .join-email-field .btn-L--off {
  background-color: #8ac392;
}
.main-join-email .join-email-field .link-singup {
  text-align: center;
}
.main-join-email .join-email-field .link-singup a {
  font-size: 12px;
  color: #767676;
}
.main-join-email .join-email-field .alert {
  margin: 6px 0 16px;
  font-size: 12px;
  color: #eb5757;
}
.main-join-email .join-email-field .alert-email {
  margin: -10px 0 16px;
  font-size: 12px;
  color: #eb5757;
}
