.main-login {
  display:flex;
  width:100%; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #24732f;
}
.main-login .wrapper { 
  flex: 1;
}
.main-login .wrapper img {
  width: 107px;
  padding: 184px 0 188px;
  box-sizing: border-box;
}
.main-login .cont-sns-login {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fff;
  
}
.main-login .cont-sns-login .link-sns {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 34px 20px;
  box-sizing: border-box;
}
.main-login .cont-sns-login .link-sns li {
  width: 100%;
}
.cont-sns-login .link-sns .link-sns-login {
  display: block;
  width: 100%;
  height: 44px;
  padding: 13px 0;
  font-size: 14px;
  border-radius: 44px;
  text-align: center;
  color: #767676;
  box-sizing: border-box;
}
.cont-sns-login .link-sns .link-sns-login:nth-child(n+1) {
  margin-bottom: 10px;
}
.cont-sns-login .link-sns .icon-kakao {
  position: relative;
  border: 1px solid #F2C94C;
}
.cont-sns-login .link-sns .icon-kakao::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: 17px;
  background: url('../../images/icon/icon-kakao.png') no-repeat;
}
.cont-sns-login .link-sns .icon-google {
  position: relative;
  border: 1px solid #767676;
}
.cont-sns-login .link-sns .icon-google::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 14px;
  background: url('../../images/icon/icon-google.png') no-repeat;
}
.cont-sns-login .link-sns .icon-facebook {
  position: relative;
  border: 1px solid #2D9CDB;
}
.cont-sns-login .link-sns .icon-facebook::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 20px;
  left: 20px;
  background: url('../../images/icon/icon-facebook.png') no-repeat;
}
.cont-sns-login .link-singup-box {
  display: flex;
  justify-content: center;
}
.cont-sns-login .link-singup-box a {
  font-size: 12px;
  color: #767676;
}
.cont-sns-login .link-singup-box .link-singup {
  position: relative;
  margin-left: 25px;
}
.cont-sns-login .link-singup-box .link-singup::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  bottom: 0;
  left: -13px;
  background-color: #c4c4c4;
}