/* modal - logout */
.modal-logout-outside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
  }
  .modal-logout-outside .dimm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #0000007e;
  }
  .modal-logout-outside .modal-logout {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 138px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    animation: slide 0.4s; 
  }
  .modal-logout-outside .modal-logout .modal-bar {
    width: 50px;
    height: 4px;
    margin: 16px auto;
    background-color: #dbdbdb;
  }
  .modal-logout-outside .modal-logout .modal-list .modal-item {
    text-align: left;
    padding: 14px 26px 14px;
    font-size: 14px;
    font-weight: 400;
  }
  .modal-logout-outside .modal-logout .modal-list .modal-item button {
    border: none;
    background: none;
  }
  .modal-logout-outside .modal-logoutTest {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0;
    width: 252px;
    height: 110px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide {
    margin: 22px 0;
    font-size: 16px;
    font-weight: 500;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide-list {
    display: flex;
    align-items: center;
    border-top: 0.5px solid #dbdbdb;
    height: 46px;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item {
    flex-basis: 50%;
    height: 100%;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item:first-child {
    border-right: 0.5px solid #dbdbdb;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
  }
  .modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item .modal-btn-logout {
    color: #f26e22;
  }
  /* modal - post */
  .modal-post-outside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
  }
  .modal-post-outside .dimm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #0000007e;
  }
  .modal-post-outside .modal-post {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    animation: slide 0.4s; 
  }
  .modal-post-outside .modal-post .modal-bar {
    width: 50px;
    height: 4px;
    margin: 16px auto;
    background-color: #dbdbdb;
  }
  .modal-post-outside .modal-post .modal-list .modal-item {
    text-align: left;
    padding: 14px 26px 14px;
    font-size: 14px;
    font-weight: 400;
  }
  .modal-post-outside .modal-post .modal-list .modal-item button {
    border: none;
    background: none;
  }
  .modal-post-outside .modal-postTest {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0;
    width: 252px;
    height: 110px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .modal-post-outside .modal-postTest .modal-gide {
    margin: 22px 0;
    font-size: 16px;
    font-weight: 500;
  }
  .modal-post-outside .modal-postTest .modal-gide-list {
    display: flex;
    align-items: center;
    border-top: 0.5px solid #dbdbdb;
    height: 46px;
  }
  .modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item {
    flex-basis: 50%;
    height: 100%;
  }
  .modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item:first-child {
    border-right: 0.5px solid #dbdbdb;
  }
  .modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
  }
  .modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item .modal-btn-delete {
    color: #f26e22;
  }
  
  /* modal - product */
  .modal-product-outside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
  }
  .modal-product-outside .dimm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #0000007e;
  }
  .modal-product-outside .modal-product {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
  .modal-product-outside .modal-product .modal-bar {
    width: 50px;
    height: 4px;
    margin: 16px auto;
    background-color: #dbdbdb;
  }
  .modal-product-outside .modal-product .modal-list .modal-item {
    text-align: left;
    padding: 14px 26px 14px;
    font-size: 14px;
    font-weight: 400;
  }
  .modal-product-outside .modal-product .modal-list .modal-item button {
    border: none;
    background: none;
  }
  .modal-product-outside .modal-productTest {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0;
    width: 252px;
    height: 110px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .modal-product-outside .modal-productTest .modal-gide {
    margin: 22px 0;
    font-size: 16px;
    font-weight: 500;
  }
  .modal-product-outside .modal-productTest .modal-gide-list {
    display: flex;
    align-items: center;
    border-top: 0.5px solid #dbdbdb;
    height: 46px;
  }
  .modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item {
    flex-basis: 50%;
    height: 100%;
  }
  .modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item:first-child {
    border-right: 0.5px solid #dbdbdb;
  }
  .modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
  }
  .modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item .modal-btn-delete {
    color: #f26e22;
  }
  
  