
.nav {
    border-top: 0.5px solid #DBDBDB;
    position: fixed;
    width: 390px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.nav-list {
    display: flex;
}
.nav-list li {
    width: 84px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-list li img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.nav-list li p {
    margin-top: 6px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #767676;

}


.nav-home {
    margin: 0 14px 0 6px ;
}
.nav-chat {
    margin-right: 14px;
}
.nav-edit {
    margin-right: 14px;
}