@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* body {
    background-color: lightgray;

} */

.main-search {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  width: 390px;
  background-color: white;
  margin: 0 auto;
}

.header {
  height: 48px;
  border-bottom: 0.5px solid #dbdbdb;
  background-color: white;
  display: flex;
  position: fixed;
  width: 390px;
}
.img-before {
  height: 22px;
  width: 22px;
  margin: 13px 20px 13px 16px;
}
.inp-search {
  border: none;
  width: 316px;
  height: 32px;
  background-color: #f2f2f2;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  margin-top: 8px;
  border-radius: 32px;
  padding: 7px 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}
.inp-search::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.search-sec {
  padding-top: 48px;
  height: 712px;
}
