
/* 게시글 부분 */
.main-upload{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.main-upload .upload-userimg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0 13px 0 16px;
}
.main-upload .upload-wrap {
  margin: 12px 16px 0 0;
  width: calc(100vw - 71px);
}
.main-upload .upload-wrap .upload-textarea {
  border: none;
  width: calc(100vw - 86px);
  font-size: 14px;
  font-family: inherit;
  margin-bottom: 12px;
  overflow-y: hidden;
}
.main-upload .upload-wrap .upload-textarea::placeholder {
  color: #c4c4c4;
}

/* 사진 한 개 일 때 */
.main-upload .upload-imgs .upload-imgwrap {
  position: relative;
}
.upload-imgs .upload-imgwrap .upload-img {
  min-width: 304px;
  min-height: 228px;
}
.upload-imgs .upload-imgwrap .upload-removeimg {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  cursor: pointer;
}
/* 사진 두 개 이상 일 때 */
.main-upload .upload-imgs {
  display: flex;
  column-gap: 8px;
  width: 100%;
  overflow-x: scroll;
}
.upload-wrap .upload-imgs::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.upload-imgs .upload-imgwrap .upload-img.upload-img-many {
  min-width: 168px;
  min-height: 126px;
}

.main-upload .img-uploadfile {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}
.file-inp {
  display: none;
}