body { 
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  /* width: 390px; */
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

/* header부분 */
.header {
  height: 48px;
  box-sizing: border-box;
  border-bottom: 0.5px solid #dbdbdb;
  background-color: #fff;
  display: flex; 
  justify-content: space-between;
  position: fixed;
    /* width: 390px; */
  width: 100%;
}
.header .header-beforenamewrap {
  display: flex;
}
.header .header-beforenamewrap .img-before, .header .img-more {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.header .header-beforenamewrap .img-before {
  margin: 13px 0 13px 16px;
}
.header .header-beforenamewrap .header-username {
  font-size: 14px;
  margin: 15.5px 10px 14px;
}
.header .img-more {
  margin: 12px;
}

/* 채팅방 부분. */
.sec-chatroom {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  overflow-y: scroll;
}
.sec-chatroom>div:first-child {
  margin-bottom: 71px;
}
.sec-chatroom>div:last-child {
  padding-top: 58px;
}
.sec-chatroom .chatroom-mychat {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}
.sec-chatroom .chatroom-mychat .mychat-img {
  width: 240px;
  height: 240px;
  margin: 0 16px 0 6px;    
}
.chatroom-time {
  font-size: 10px;
  color: #767676;
}
.sec-chatroom .chatroom-mychat .mychat-txt {
  font-size: 14px;
  padding: 12px;
  max-width: 242px;
  color: #fff;
  background-color: #24732f;
  margin: 0 16px 0 6px;    
  border-radius: 10px;
  border-top-right-radius: 0px;
}
.sec-chatroom .chatroom-chatwrap {
  display: flex;
}
.sec-chatroom .chatroom-chatwrap .chatroom-userimg {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}
.sec-chatroom .chatroom-chatwrap .chatroom-txttime {
  display: flex;
  align-items: flex-end;
  margin-bottom: 9px;
}
.sec-chatroom .chatroom-chatwrap .chatroom-txttime .txttime-chattxt {
  font-size: 14px;
  max-width: 242px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin: 0 6px 0 12px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 12px;
  line-height: 17.53px;
}

/* 하단 채팅 입력부분 */
.sec-writechat {
  width: 100%;
  height: 61px;
  box-sizing: border-box;
  border-top: 0.5px solid #dbdbdb;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
}
.sec-writechat form {
  display: flex;
  justify-content: space-between;
}
.sec-writechat .writechat-wrap {
  display: flex;
  align-items: center;
}
.sec-writechat .writechat-wrap .writechat-addimg {
  width: 36px;
  height: 36px;
  margin: 13px 18px 12px 16px;
  cursor: pointer;
}
.file-inp {
  display: none;
}
.sec-writechat .writechat-wrap .writechat-inp {
  border: none;
  width: 240px;
  height: 40px;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
}
.sec-writechat .writechat-sendtxt {
  border: none;
  background-color: transparent;
  margin: 23px 16px 20px 0;
  font-size: 14px;
  font-weight: 500;
  color: #c4c4c4;
}

/* modal */
.sec-modal {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
  animation: slide 0.4s; 
}
.sec-modal .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
  border-radius: 5px;
}
.sec-modal .modal-txt {
  font-size: 14px;
  margin: 14px 0 14px 26px;
  cursor: pointer;
}
.modal-out-container {
  background: rgba(0,0,0,.2);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes slide {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}