* {
  box-sizing: border-box;
}

body { 
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  width: 390px;
  background-color: white;
  margin: 0 auto;
}

/* 상단 */
.header {
  height: 48px;
  border-bottom: 0.5px solid #DBDBDB;
  background-color: white;
  display: flex; 
  justify-content: space-between;
  position: fixed;
  width: 390px;
  z-index: 10;
}
.header .img-before,.header .img-more {
  height: 22px;
  width: 22px;
  margin: 13px 20px 13px 16px;
}
.header .img-more {
  margin: 12px;
}

/* 채팅리스트 */
.main-chatlist .sec-chatlist {
  padding-top: 48px;
  height: 712px;
}
.main-chatlist .sec-chatlist .list-chatlist {
  padding-top: 14px;
}
.sec-chatlist .list-chatlist .chatlist-userwrap {
  margin: 10px 16px;
  display: flex;
  position: relative;
}
.sec-chatlist .list-chatlist .chatlist-userwrap .img-newmessage {
  position: absolute;
  width: 12px;
  height: 12px;
}
.sec-chatlist .list-chatlist .chatlist-userwrap .chatlist-userimg {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.sec-chatlist .list-chatlist .chatlist-userwrap .chatlist-usertxtwrap {
  padding-top: 4px;
}
.sec-chatlist .list-chatlist .chatlist-userwrap .chatlist-usertxtwrap .chatlist-username {
  font-size: 14px;
  margin-bottom: 6px;
}
.chatlist-userwrap .chatlist-usertxtwrap .chatlist-txtwrap {
  display: flex;
  align-items: baseline;
}
.chatlist-userwrap .chatlist-usertxtwrap .chatlist-txtwrap .chatlist-chat {
  width: 238px;
  margin-right: 13px;
  font-size: 12px;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.chatlist-userwrap .chatlist-usertxtwrap .chatlist-txtwrap .chatlist-date {
  font-size: 10px;
  color: #DBDBDB;
}

/* 하단 메뉴 */
.nav {
  width: 390px;
  background-color: white;
  border-top: 0.5px solid #DBDBDB;
  padding: 15px 0 8px;
  bottom: 0;
  position: fixed;
}
.nav .nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
}
.nav .nav-list .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .nav-list .menu img {
  width: 20px;
}
.nav .nav-list .menu p {
  margin-top: 6px;
  font-size: 10px;
  font-weight: 400;
  color: #767676;
}
.nav .nav-list .nav-chat .nav-chat-txt {
  color: #24732F;
}