.splash-main {
  position: fixed;
  width: 390px;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  top: 0;
  left: 50%;
  transform: translateX(-195px);
  align-items:center;
  background-color: white;
  border: 0.5px solid #DBDBDB;;
}

.splash-main .splash-logo {
  width: 98px;
  height: 118px;
}

.splash-main .splash-tit {
  margin-top: 18px;
  width: 130px;
  height: 33px;
}
