
.splash-main {
  position: fixed;
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items:center;
  background-color: white;
}

.splash-main .splash-logo {
  width: 98px;
  height: 118px;
}

.splash-main .splash-tit {
  margin-top: 18px;
  width: 130px;
  height: 33px;
}
