* {
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  height:48px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #dbdbdb;
}
.img-before {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}
.inp-search {
  flex-basis: 100%;
  border: none;
  height: 32px;
  background-color: #F2F2F2;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  border-radius: 32px;
  padding: 7px 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}
.inp-search::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.search-sec {
  padding-top: 48px;
  height: 712px;
}



/* nav */
.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-top: 0.5px solid #dbdbdb;
  z-index: 10;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 39px 6px;
  margin: 0;
}
.nav-list .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list .menu img {
  width: 20px;
}
.nav-list .menu p {
  margin: 6px 0 0 0 ;
  font-size: 10px;
  font-weight: 400;
  color: #767676;
}