* {
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  height:48px;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 0 16px;
  transform: translateX(-50%);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #dbdbdb;
  z-index: 10;
}
.header .img-search {
  width: 24px;
  height: 24px;
}
.header .header-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-right: 16px;
} 

/* main home feed */
.main-home {
  width: 100%;
  margin: 54px 0 auto;
  height: 100vh;
  margin-bottom: 60px;
  padding: 0 16px;
}
.main-home .sec-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 354px;
  margin: 0 auto;
  position: relative;
}
.main-home .upload-wrap {
  margin-top: 54px;
}
.main-home .upload-wrap .upload-user {
  display: flex;
  align-items: center;
}
.main-home .upload-wrap .upload-user .img-more {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 4px;
}
.main-home .upload-wrap .upload-user .upload-userimg {
  max-width: 42px;
  max-height: 42px;
}
.main-home .upload-wrap .upload-user .upload-user-txt {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.main-home .upload-user .upload-user-txt .upload-title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.main-home .upload-user .upload-user-txt .upload-userId {
  font-size: 12px;
  color: #767676;
}
.main-home .upload-wrap .upload-textarea {
  border: none;
  width: 304px;
    /* 자동높이조절js 필요  */
  height: 58px;
  font-size: 14px;
  margin: 16px 0 16px 54px ;
  overflow: hidden;
  resize: none;
}
.main-home .upload-textarea::placeholder {
    color: #c4c4c4;
}
.main-home .upload-wrap .upload-img {
  width: 304px;
  height: 228px;
  margin-left: 54px;  
}
.main-home .upload-wrap .upload-icon {
  margin: 14px 0 18px 54px;
} 
.main-home .upload-wrap .upload-icon .icon-box {
  display:flex;
  align-items: center;
}
.main-home .upload-wrap .upload-icon .icon-box img {
  width: 16px;
  height: 15px;
}
.main-home .upload-wrap .upload-icon .icon-txt {
  margin-left: 8px;
  font-size: 12px;
  color: #767676;
}
.main-home .upload-wrap .upload-icon .icon-box .chat-icon {
  margin-left: 18px;
}
.main-home .upload-wrap .upload-data {
  font-size: 10px;
  margin-left: 54px;
  color: #767676;
} 

/* main none home  */
.main-none-home {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main-none-home .home-img {
  display: block;
  height: 89px;
  width: 74px;
  margin: 0 auto;
}
.main-none-home .home-tit {
  margin: 25px 0 20px;
  font-size: 14px;
  color: #767676;
  text-align: center;
}
.main-none-home .btn-M {
  height: 44px;
  padding: 0 33px;
  font-size: 14px;
  line-height: 18px;
  background-color: #24732f;
  color: #fff;
  border: none;
  border-radius: 30px;  
}

/* 화면에서 안보이기 */
.cont--hide {
  display: none;
}