/* 공통요소 */
.hr {
  width: 100%;
  height: 6px;
  background: #f2f2f2;
  box-sizing: border-box;
  border: none;
  border-top: 0.5px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.main-profile {
  text-align: center;
}
.cont-user .user-cont-follow {
  /* 원래 윗 마진 30px */
  margin: 78px 55px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 팔로워 */
.cont-user .user-cont-follow .user-followers,
.cont-user .user-cont-follow .user-followings {
  text-align: center;
  display: block;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #767676;
}
.cont-user .user-cont-follow .user-followers strong,
.cont-user .user-cont-follow .user-followings strong {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
}
.cont-user .user-cont-follow .user-followers strong {
  color: #000;
}

/* 유저 이미지 */
.cont-user .user-cont-follow img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.cont-user .user-tit {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.cont-user .user-name {
  font-size: 12px;
  color: #767676;
}
.cont-user .user-desc {
  margin: 16px 0 24px;
  font-size: 14px;
  color: #767676;
}
/* 팔로워 버튼 모음 */
.cont-user .user-cont-other .user-cont-btnOther {
  width: 212px;
  margin: 0 auto 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-user .user-cont-other .user-cont-btnOther .user-btn-chat {
  width: 34px;
  height: 34px;
  position: relative;
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 30px;
  box-sizing: border-box;
}
.cont-user .user-cont-other .user-cont-btnOther .user-btn-share {
  width: 34px;
  height: 34px;
  position: relative;
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 30px;
  box-sizing: border-box;
}
.cont-user .user-cont-other .user-cont-btnOther .user-btn-chat img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* 다른 유저 프로필 - 언팔로우시 보이는 버튼 */
.cont-user .user-cont-other .user-cont-btnOther .user-btn-follow {
  padding: 8px 40px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  background: #24732f;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
/* 다른 유저 프로필 - 팔로우시 보이는 버튼 */
.cont-user .user-cont-other .user-cont-btnOther .user-btn-unfollow {
  padding: 8px 34px;
  margin: 0 10px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  background-color: white;
  color: #767676;
  font-size: 14px;
  font-weight: 500;
}
.cont-user .user-cont-other .user-cont-btnOther .user-btn-share img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* 내 프로필 */
.cont-user .user-cont-me .user-cont-btnMy {
  width: 232px;
  margin: 0 auto 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont-user .user-cont-me .user-cont-btnMy .user-fix {
  padding: 8px 26px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  background-color: white;
  color: #767676;
  font-size: 14px;
  font-weight: 500;
}
.cont-user .user-cont-me .user-cont-btnMy .user-upload-product {
  padding: 8px 22px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  background-color: white;
  color: #767676;
  font-size: 14px;
  font-weight: 500;
}

/* product */
.product .product-tit {
  margin: 20px 21px 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.product-list {
  margin: 0 0 21px 20px;
  display: flex;
  overflow: hidden;
}
.product .product-list .product-item {
  margin-right: 10px;
}
.product .product-list .product-item .product-btn{
  border: none;
  background: none;
}
.product .product-list .product-item .product-btn .product-img {
  width: 140px;
  height: 90px;
  object-fit: contain;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 8px;
}
.product .product-list .product-item .product-btn .product-desc {
  text-align: left;
  margin: 6px 0 4px;
  font-size: 14px;
  line-height: 18px;
}
.product .product-list .product-item .product-btn .product-price {
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24732f;
}

/* post list */
.post .post-change {
  text-align: right;
  border-bottom: 0.5px solid #dbdbdb;
}
.post .post-change .post-btn-list {
  width: 26px;
  height: 26px;
  border: none;
  background: url("../../images/icon/icon-post-list-on.png");
  background-size: contain;
  margin: 9px 17px 9px 0;
}
.post .post-change .post-btn-grid {
  width: 26px;
  height: 26px;
  border: none;
  background: url("../../images/icon/icon-post-album-on.png");
  background-size: contain;
  margin: 9px 19px 9px 0;
}
.post .post-change .post-btn-list--off {
  background: url("../../images/icon/icon-post-list-off.png");
  background-size: contain;
}
.post .post-change .post-btn-grid--off {
  background: url("../../images/icon/icon-post-album-off.png");
  background-size: contain;
}
/* 게시글 리스트 */
.post .post-list {
  min-height: 300px;
  padding-bottom: 90px;
}
.post .post-list .post-item {
  position: relative;
  margin: 16px 16px 0 21px;
  text-align: right;
}
.post .post-list .post-item .post-img-user {
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.post .post-list .post-item .post-cont-txt {
  margin-left: 54px;
  text-align: left;
}
.post .post-list .post-item .post-cont-txt .post-tit strong {
  font-size: 14px;
  font-weight: 500;
}
.post .post-list .post-item .post-cont-txt .post-name {
  margin: 2px 0 16px;
  font-size: 12px;
  color: #767676;
}
.post .post-list .post-item .post-cont-txt .post-desc {
  width: 304px;
  box-sizing: border-box;
  line-height: 17px;
  font-size: 14px;
}
.post .post-list .post-item .post-cont-img {
  width: 304px;
  height: 228px;
  overflow: hidden;
  margin: 16px 0 16px 54px;
  border-radius: 10px;
}
.post .post-list .post-item .post-cont-space {
  margin: 16px 0 16px 54px;
  border-radius: 10px;
}
.post .post-list .post-item .post-img {
  height: 100%;
}
.post .post-list .post-item .post-btn-setting {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  right: 0;
}
.post .post-list .post-item .post-cont-icon {
  margin-left: 54px;
  display: flex;
  align-items: center;
}
.post .post-list .post-item .post-cont-icon .post-btn-icon {
  background: none;
  border: none;
}
.post .post-list .post-item .post-cont-icon .post-btn-icon img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.post .post-list .post-item .post-cont-icon .post-txt-icon {
  margin-right: 16px;
  font-size: 12px;
  line-height: 12px;
  color: #767676;
}
.post .post-list .post-item .post-date {
  margin: 16px 0 2px 54px;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
  color: #767676;
}

/* post grid */
.post-list-grid {
  margin: 16px 16px 0 16px;
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: 114px 114px 114px;
  grid-auto-rows: 114px;
  grid-gap: 8px;
}
.post-list-grid .post-item-grid {
  overflow: hidden;
}
.post-list-grid .post-item-grid .post-link-grid .post-img-grid {
  width: 114px;
  height: 114px;
  object-fit: cover;
}

/* modal - logout */
.modal-logout-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
.modal-logout-outside .dimm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #0000007e;
}
.modal-logout-outside .modal-logout {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 138px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.modal-logout-outside .modal-logout .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
}
.modal-logout-outside .modal-logout .modal-list .modal-item {
  text-align: left;
  padding: 14px 26px 14px;
  font-size: 14px;
  font-weight: 400;
}
.modal-logout-outside .modal-logout .modal-list .modal-item button {
  border: none;
  background: none;
}
.modal-logout-outside .modal-logoutTest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  width: 252px;
  height: 110px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.modal-logout-outside .modal-logoutTest .modal-gide {
  margin: 22px 0;
  font-size: 16px;
  font-weight: 500;
}
.modal-logout-outside .modal-logoutTest .modal-gide-list {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #dbdbdb;
  height: 46px;
}
.modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item {
  flex-basis: 50%;
  height: 100%;
}
.modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item:first-child {
  border-right: 0.5px solid #dbdbdb;
}
.modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
.modal-logout-outside .modal-logoutTest .modal-gide-list .modal-gide-item .modal-btn-logout {
  color: #f26e22;
}
/* modal - post */
.modal-post-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
.modal-post-outside .dimm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #0000007e;
}
.modal-post-outside .modal-post {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.modal-post-outside .modal-post .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
}
.modal-post-outside .modal-post .modal-list .modal-item {
  text-align: left;
  padding: 14px 26px 14px;
  font-size: 14px;
  font-weight: 400;
}
.modal-post-outside .modal-post .modal-list .modal-item button {
  border: none;
  background: none;
}
.modal-post-outside .modal-postTest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  width: 252px;
  height: 110px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.modal-post-outside .modal-postTest .modal-gide {
  margin: 22px 0;
  font-size: 16px;
  font-weight: 500;
}
.modal-post-outside .modal-postTest .modal-gide-list {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #dbdbdb;
  height: 46px;
}
.modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item {
  flex-basis: 50%;
  height: 100%;
}
.modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item:first-child {
  border-right: 0.5px solid #dbdbdb;
}
.modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
.modal-post-outside .modal-postTest .modal-gide-list .modal-gide-item .modal-btn-delete {
  color: #f26e22;
}

/* modal - product */
.modal-product-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
.modal-product-outside .dimm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #0000007e;
}
.modal-product-outside .modal-product {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.modal-product-outside .modal-product .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
}
.modal-product-outside .modal-product .modal-list .modal-item {
  text-align: left;
  padding: 14px 26px 14px;
  font-size: 14px;
  font-weight: 400;
}
.modal-product-outside .modal-product .modal-list .modal-item button {
  border: none;
  background: none;
}
.modal-product-outside .modal-productTest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  width: 252px;
  height: 110px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.modal-product-outside .modal-productTest .modal-gide {
  margin: 22px 0;
  font-size: 16px;
  font-weight: 500;
}
.modal-product-outside .modal-productTest .modal-gide-list {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #dbdbdb;
  height: 46px;
}
.modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item {
  flex-basis: 50%;
  height: 100%;
}
.modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item:first-child {
  border-right: 0.5px solid #dbdbdb;
}
.modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
.modal-product-outside .modal-productTest .modal-gide-list .modal-gide-item .modal-btn-delete {
  color: #f26e22;
}

