.main-profile {
  height: 100vh;
}
.cont-followers {
  margin: 48px 0 0;
}

.cont-followers .list-followers {
  /* 마진으로 주면 마진 겹침현상 발생 */
  padding: 24px 16px 0 16px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.cont-followers .list-followers .item-followers {
  height: 50px;
  margin-bottom: 16px;
  position: relative;
}
.cont-followers .list-followers .item-followers .img-followers {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.cont-followers .list-followers .item-followers .tit-followers strong {
  margin: 5px 0 6px 62px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.cont-followers .list-followers .item-followers .desc-followers {
  margin: 0 0 0 62px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.cont-followers .list-followers .item-followers .btn-followers {
  width: 56px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 15px;
  border-radius: 26px;
}
.btn-followers--off {
  background-color: #fff;
  color: #767676;
  border: 1px solid #dbdbdb;
}
.btn-followers--on{
  background-color: #24732f;
  color: #fff;
  border: none;
}

/* modal */
.modal-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
.modal-outside .dimm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #0000007e;
}
.modal-logout {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 138px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.modal-logout .modal-bar {
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #dbdbdb;
}
.modal-logout .modal-list .modal-item {
  text-align: left;
  padding: 14px 26px 14px;
  font-size: 14px;
  font-weight: 400;
}
.modal-logout .modal-list .modal-item button {
  border: none;
  background: none;
}
.modal-logoutTest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  width: 252px;
  height: 110px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.modal-logoutTest .modal-gide {
  margin: 22px 0;
  font-size: 16px;
  font-weight: 500;
}
.modal-logoutTest .modal-gide-list {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #dbdbdb;
  height: 46px;
}
.modal-logoutTest .modal-gide-list .modal-gide-item {
  flex-basis: 50%;
  height: 100%;
}
.modal-logoutTest .modal-gide-list .modal-gide-item:first-child {
  border-right: 0.5px solid #dbdbdb;
}
.modal-logoutTest .modal-gide-list .modal-gide-item button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
.modal-logoutTest .modal-gide-list .modal-gide-item .modal-btn-logout {
  color: #f26e22;
}
